@font-face {
  font-family: 'barlow';
  src: url('./assets/fonts/barlow/Barlow-Regular.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'barlow-condensed';
  src: url('./assets/fonts/barlowcondensed/BarlowCondensed-Regular.ttf');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'bellefair';
  src: url('./assets/fonts/bellefair/Bellefair-Regular.ttf');
  font-style: normal;
  font-weight: 100;
}

html body{
  margin: 0;
  background-color: #0B0D17;
}
.home{
background-image: url('./assets/home/background-home-desktop.jpg');
background-size: cover;
width: 100%;
height: 750px;

}
.explore-link{
  color: #0B0D17;
  font-size: 30px;
  font-family: Bellefair;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.nav-bar{
  display: flex;
  flex-direction: row;
position: absolute;
width: 1515px;
height: 120px;
backdrop-filter: blur(30px);
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 650px;
  margin-top: 20px;

}
.logo{
  margin-left: 30px;
  margin-top: 20px;
}


.destination{
  background-image: url('/destination/background-destination-desktop.jpg');
  background-size: cover;
  width: 100%;
  height: 750px;
  color: #D0D6F9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.destination-content{
  display: flex;
  flex-direction: row;
}

.image-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 300px;
  margin-left: 250px;
}
.image-container h2{
  font-family: barlow;
  margin-bottom: 100px;
}
.image-container img{
  width: 350px;
  height: auto;
}
.text-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 100px;
}
.text-container h1{
  font-family: bellefair;
  font-size: 150px;
  margin-bottom: 40px;
  color: #fff;
}
.text-container p {
  font-family: barlow;
  margin: 20px;
}
.text-container span {
  font-family: barlow;
  margin: 14px;
  font-size: 18px;
}
.travel-details{
  display: flex;
  flex-direction: row;
}
button{
  background-color: transparent;
  border: none;
}
button :hover{
  cursor: pointer;
}

.crew{
  background-image: url('/crew/background-crew-desktop.jpg');
  background-size: cover;
  width: 100%;
  height: 750px;
  color: #D0D6F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crew-content{
  display: flex;
  flex-direction: row;
  margin-top: 200px;
}
.role-and-name{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 600px;
  margin-right: 650px;
}
.role-and-name h2{
  font-family: barlow;
}
.role-and-name h3{
  font-family: barlow;
}
.role-and-name h1{
  font-family: bellefair;
  font-size: 40px;
  color: #fff;
  margin-bottom: 100px;
}
.bio {
  font-family: barlow;
  color: #fff;
}

.crew-image-container img{
  width: 400px;
  height: auto;
  margin-left: 150px;
  margin-right: 100px;
  position: absolute;
  bottom:0px;
  left:50%;
}

.technology{
    background-image: url('/technology/background-technology-desktop.jpg');
    background-size: cover;
    width: 100%;
    height: 750px;
    color: #D0D6F9;
}
.technology-content{
  display: flex;
  flex-direction: row;
}
.space-launch{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  /* margin-right: 650px; */
  margin-top: 200px;
  margin-left: 100px;
}
.space-launch h2{
  font-family: barlow;
}
.space-launch h1{
  font-family: bellefair;
  font-size: 60px;
  color: #fff;
}
.space-launch p {
  font-family: barlow;
  font-size: 18px;
}
.launch-image-container img{
  width: 500px;
  height: auto;
  margin-left: 450px;
  margin-top: 200px;
  float: right;
}




  
