@font-face {
  font-family: 'barlow';
  src: url('./assets/fonts/barlow/Barlow-Regular.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'barlow-condensed';
  src: url('./assets/fonts/barlowcondensed/BarlowCondensed-Regular.ttf');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'bellefair';
  src: url('./assets/fonts/bellefair/Bellefair-Regular.ttf');
  font-style: normal;
  font-weight: 100;
}

html body{
  margin: 0;
  background-color: #0B0D17;
}
.home{
background-image: url('./assets/home/background-home-desktop.jpg');
background-size: cover;
width: 100%;
height: 750px;

}
.explore-link{
  color: #0B0D17;
  font-size: 30px;
  font-family: Bellefair;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.nav-bar{
  display: flex;
  flex-direction: row;
position: absolute;
width: 1515px;
height: 120px;
backdrop-filter: blur(30px);
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 650px;
  margin-top: 20px;

}
.logo{
  margin-left: 30px;
  margin-top: 20px;
}


.destination{
  background-image: url('./assets/destination/background-destination-desktop.jpg');
  background-size: cover;
  width: 100%;
  height: 750px;
  color: #D0D6F9;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.crew{
    background-image: url('./assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    width: 100%;
    height: 750px;
    color: #D0D6F9;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.technology{
      background-image: url('./assets/technology/background-technology-desktop.jpg');
      background-size: cover;
      width: 100%;
      height: 750px;
      color: #D0D6F9;
  }
  
